bin/
x64/
x86/
Debug/
Release/
obj/
.vs/

*.db
*.opendb
*.suo
*.user
/UpgradeLog.htm
/GenericFFBDriver/Source Codes and Docs/Windows XP Controller source code
/GenericFFBDriver/Source Codes and Docs/windows-driver-docs-staging/.github/ISSUE_TEMPLATE
/GenericFFBDriver/Source Codes and Docs/windows-driver-docs-staging
